/* ========================================
   Reset y estilos globales
========================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #4a90e2; /* Calming blue */
  --secondary-color: #50e3c2; /* Refreshing teal */
  --background-color: #f5f7fa; /* Clean light grey */
  --text-color: #34495e; /* Trustworthy dark blue */
  --text-light-color: #7f8c8d; /* Neutral grey */
  --white-color: #ffffff; /* Pure white */
  --shadow-color: rgba(0, 0, 0, 0.1); /* Soft shadow */
  --overlay-color: rgba(74, 144, 226, 0.7); /* Semi-transparent calming blue */
  --primary-gradient: linear-gradient(
    45deg,
    rgba(80, 227, 194, 0.7),
    rgba(74, 144, 226, 0.7)
  );
  --accent-color: #f39c12; /* Energetic orange for accents */
  --highlight-color: #e74c3c; /* Attention-grabbing red for highlights */
  --background-alt-color: #ddf7fc; /* Light cyan for alternate backgrounds */
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  background: var(--background-color);
  color: var(--text-color);
  padding: 1rem;
}

section {
  padding: 0.5rem 0;
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--secondary-color);
}

/* Contenedor principal */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* ========================================
   Navbar
========================================= */
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: var(--primary-gradient);
  box-shadow: 0 2px 4px var(--shadow-color);
  padding: 0.5rem 2rem;
  gap: 1rem;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.logo {
  background-color: var(--white-color);
  border-radius: 100%;

  padding: 0.5rem;
}
.logo img {
  height: 6rem;
}
.tag-line {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--white-color);
  font-size: 1.4rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}
/* ========================================
   Sección Hero
========================================= */
.hero {
  background: url(../res/estampado.jpg) repeat center;
  min-height: 80svh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin: 0.4rem 0;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--primary-gradient);
}

.hero-content {
  position: relative;
  color: var(--white-color);
  padding: 1.5rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}

/* Botón */
.btn {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--white-color);
  background: var(--overlay-color);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  color: var(--white-color);
  background: var(--primary-color);
  transform: scale(1.1);
}

.fade-texts {
  position: relative;
  height: 80px; /* Adjust based on your text height */
}

.fade-texts p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
/* ========================================
    Animaciones
========================================= */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.hero-content {
  animation: fadeIn 2s ease-in-out;
}

.servicio-item {
  animation: slideIn 1s ease-in-out;
}

.btn {
  animation: fadeIn 1.5s ease-in-out;
}

/* ========================================
   Sección Servicios
========================================= */
.servicios{
  margin: 0 0 5rem 0;
}

.servicios h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 2rem;
  color: var(--primary-color);
}

.servicios-grid {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.servicio-item {
  background: var(--white-color);
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px var(--shadow-color);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.servicio-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px var(--shadow-color);
}

.servicio-item h3 {
  margin-bottom: 0.8rem;
  color: var(--primary-color);
}

/* ========================================
   Sección Nosotros
========================================= */
.nosotros {
  background: var(--white-color);
}

.nosotros h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--primary-color);
}

.nosotros p {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.1rem;
  color: var(--text-light-color);
  line-height: 1.8;
}

/* ========================================
   Sección Galería
========================================= */
.galleria {
  display: block;
}

#galleria {
  height: 25rem;
  background: var(--text-light-color);
}

/* ========================================
   Sección FAQ
========================================= */
.faq {
  background: var(--white-color);
}

.faq h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  color: var(--primary-color);
}

.faq-item {
  margin-bottom: 1.5rem;
}

.faq-item h3 {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.faq-item p {
  font-size: 1rem;
  color: var(--text-light-color);
}

/* ========================================
   Sección Normas
========================================= */
.normas {
  background: var(--white-color);
  padding: 2rem;
}

/* ========================================
   Sección Contacto
========================================= */
.contacto {
  background: var(--white-color);
}

.contacto h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: var(--primary-color);
}

.contacto p {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: var(--text-light-color);
}

/* Información de contacto */
.contact-info {
  text-align: center;
  line-height: 1.8;
  font-style: normal;
  color: var(--text-color);
}

/* ========================================
   Footer
========================================= */
footer {
  background: var(--primary-color);
  color: var(--white-color);
  text-align: center;
  padding: 1.2rem 0;
  font-size: 0.9rem;
}

/* ========================================
   Responsive (Tablet y Desktop)
======================================== */
@media (min-width: 768px) {
  .servicios-grid {
    flex-direction: row;
    justify-content: space-between;
  }

  .servicio-item {
    flex: 1;
    margin: 0 0.5rem;
  }

  .hero h1 {
    font-size: 3rem;
  }

  .hero p {
    font-size: 1.5rem;
  }

  .testimonios-carousel {
    flex-direction: row;
    justify-content: space-between;
  }

  .testimonio-item {
    flex: 1;
    margin: 0 0.5rem;
  }
}
